body{
    background-size: cover;
    background-attachment: fixed;
    background-image:linear-gradient(to top right, pink 30%, white, pink 80%);
}
#cake{
    width: 270px;
    border-radius: 5%;
    border-color:pink  ;
    border-style: solid;
    border-width: 2px;
    margin-top: 100px;
}
img{
    width: 300px;
    filter: grayscale(100%);
    transition: 0.4s;
}img:hover{
    filter: grayscale(0%);
    cursor: pointer;
}
.card{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#font{
    font-family: gabriola;
    color: rgb(244, 113, 135);
    font-size: x-large;
}
.wish{
    font-family: arial;
    color: rgb(239, 113, 134);
    background-color: rgba(240, 248, 255, 0.785);
    text-align: center;
    border-radius: 3%;
    border-color: pink;
    border-style: solid;
    border-width: 2px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-top: 100px;
    margin-left: 12px;
    margin-top: 100px;
    width: 400px;
}